body{
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.bat {
    height: 50px;
    width:70px;
    font-size: larger;
    border-radius: 6px;
    background-color: rgb(71, 204, 218);

}
.ball {
    height: 50px;
    width:70px;
    margin:20px;
    font-size: larger;
    border-radius: 5px;
    background-color: rgb(221, 73, 73);
}
.stump {
    height: 50px;
    width:70px;
    font-size: larger;
    border-radius: 5px;
    background-color: rgb(224, 110, 171);
}
.heading{
    color: rgb(209, 102, 26);
    font-size: 4em;
}
.footer{
    color:rgb(88, 175, 221);
    font-size: xx-large;
}
.choice{
    height: 31px;
    width: 151px;
    margin: 11px;
    background-color: rgb(226, 154, 72);
    border-radius: 9px;
    text-align: center;
    font-size: large;

}
.Score{
    height: 31px;
    width: 200px;
    margin: 11px;
    padding: 5px 30px;
    background-color: rgb(212, 150, 79);
    border-radius: 9px;
    text-align: center;
    font-size: large;
}